@use "/styles/variables/mixins";
@use "/styles/variables/colors";
@use "/styles/variables/fonts";

.pageContainer {
  background-color: colors.$dark;
}

.container {
  @include mixins.flex(column, space-between, center);
  background-color: colors.$dark;
  color: colors.$bright;
  width: 100vw;
}

.title {
  @include mixins.pageTitle();
  max-width: 80%;
}

.pageInfo {
  @include mixins.pageInfo();
  max-width: 80%;
  text-align: center;
}

.imageContainer {
  position: relative;
  height: 80vh;
  width: 95vw;

  @include mixins.breakpoint(medium) {
    height: 50vh;
  }
  @include mixins.breakpoint(mobile) {
    // height: 40vh;
  }
  @include mixins.breakpoint(small) {
    height: 35vh;
  }
}

.photoTitle {
  max-width: 80%;
}

.explanationContainer {
  @include mixins.flex(column, center, center);
  @include mixins.font(fonts.$nunito, 1.2rem);
  max-width: 70%;

  @include mixins.breakpoint(medium) {
    min-width: 90%;
  }

  margin-top: 1rem;
  margin-bottom: 1rem;
}
