@use "/styles/variables/mixins";
@use "/styles/variables/colors";
@use "/styles/variables/fonts";

.pageContainer {
  background-color: colors.$dark;
}

.container {
  @include mixins.flex(column, space-between, center);
  background-color: colors.$dark;
  color: colors.$bright;
}

.title {
  @include mixins.font(fonts.$roboto, clamp(2rem, 4vw, 5rem));
  text-align: center;
  color: colors.$bright;
}
