@use "/styles/variables/mixins";
@use "/styles/variables/colors";
@use "/styles/variables/fonts";

.imagesContainer {
  display: grid;
  padding: 4%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @include mixins.breakpoint(mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.imageContainer {
  background-color: "black";
  position: relative;
}
