@use "/styles/variables/mixins";
@use "/styles/variables/colors";
@use "/styles/variables/fonts";

.pageContainer {
  @include mixins.flex(column, center, center);
  background-color: colors.$dark;
  min-height: 100vh;
}

.container {
  @include mixins.flex(column, center, center);
  background-color: colors.$dark;
  color: colors.$bright;
}

.title {
  @include mixins.pageTitle();
}
