@use "/styles/variables/mixins";
@use "/styles/variables/colors";
@use "/styles/variables/fonts";

.pageContainer {
  @include mixins.flex(column, normal, center);
  background-color: colors.$dark;
  min-height: 100vh;
}

.container {
  @include mixins.flex(column, normal, center);
  max-width: 80%;
  color: colors.$bright;
}

.title {
  @include mixins.font(fonts.$roboto, clamp(1.5rem, 4vw, 4rem));
  text-align: center;
}

.pageInfo,
.solInfo {
  @include mixins.font(fonts.$nunito, clamp(1.2rem, 2vw, 1.5rem));
  @include mixins.flex(column, center, center);
}

.photoContainer {
  // @include mixins.flex(column, center, center);
  display: grid;
  // padding: 4%;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 90vw;
  height: auto;
  padding-bottom: 3rem;
  // @include mixins.breakpoint(mobile) {
  //   padding: 0;
  // }
}

.imageContainer {
  position: relative;
  // height: 20vh;
  // width: 40vw;
  aspect-ratio: 4 / 3;
  align-self: center;
  justify-self: center;

  // @include mixins.breakpoint(medium) {
  //   height: 50vh;
  // }
  // @include mixins.breakpoint(mobile) {
  //   height: 40vh;
  // }
  // @include mixins.breakpoint(small) {
  //   height: 35vh;
  // }
}
