$dark: #33313b;
$medium: #3c4f65;
$light: #834c69;
$bright: #e6f5ff;

// $dark: #041c32;
// $medium: #04293a;
// $light: #064663;
// $bright: #e7f6f2;

// $dark: #2c3333;
// $medium: #395b64;
// $light: #a5c9ca;
// $bright: #e7f6f2;
