@use "/styles/variables/colors";
@use "/styles/variables/fonts";

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

//font choices: roboto or nunito
@mixin font($family, $size) {
  font-family: $family;
  font-size: $size;
}

@mixin button() {
  @include font(fonts.$roboto, 1.2rem);
  background-color: colors.$medium;
  color: colors.$bright;
  height: 3rem;
  width: 6rem;
  border-radius: 1rem;

  &:disabled {
    opacity: 0.5;
  }
}
