@use "/styles/variables/colors";
@use "/styles/variables/fonts";

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

//font choices: roboto or nunito
@mixin font($family, $size) {
  font-family: $family;
  font-size: $size;
}

@mixin breakpoint($breakpoint) {
  // $breakpoint is simply a variable that can have several values

  @if $breakpoint ==medium {
    @media only screen and (max-width: 992px) {
      @content;
    }
  }

  @if $breakpoint==small {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

@mixin button() {
  @include font(fonts.$roboto, 1.2rem);
  background-color: colors.$medium;
  color: colors.$bright;
  height: 3rem;
  width: 6rem;
  border-radius: 1rem;

  &:disabled {
    opacity: 0.5;
  }
}

@mixin pageTitle() {
  @include font(fonts.$roboto, clamp(2rem, 4vw, 5rem));
  text-align: center;
  color: colors.$bright;
}
