@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

//font choices: roboto or nunito
@mixin font($family, $size) {
  font-family: $family;
  font-size: $size;
}
