@use "/styles/variables/mixins";
@use "/styles/variables/colors";
@use "/styles/variables/fonts";

.links {
  @include mixins.flex(row, center, center);
  flex-wrap: wrap;

  a,
  p {
    color: colors.$bright;
  }
}

.link {
  @include mixins.flex(row, space-around, center);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 95%;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: colors.$light;
  width: 25rem;
  height: 21rem;
  border: none;
  border-radius: 3rem;
  cursor: pointer;

  @include mixins.breakpoint(mobile) {
    width: 21rem;
    height: 16rem;
  }
}

.titleContainer {
  height: 30%;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: colors.$medium;
}

.descContainer {
  position: relative;
  height: 70%;
}

.title {
  @include mixins.flex(row, center, center);
  @include mixins.font(fonts.$roboto, 1.4rem);
  height: 100%;
}

.desc {
  @include mixins.font(fonts.$nunito, 1.2rem);
  margin-right: 1rem;
  margin-left: 1rem;
  height: 100%;
}

.cardImage {
  position: absolute;
  z-index: -1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.btn:hover .cardImage {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

// .descContainer:hover > .cardImage {
//   opacity: 1;
//   -webkit-filter: grayscale(0%);
//   filter: grayscale(0%);
// }
